@media (max-width:1860px) {
    .card:not(:last-child){
        margin-right: 0;
    }
    
    
  }
  @media (max-width:1320px) {
   .frame{
       padding: 0 5%;
   }

  }

  @media (max-width:1220px) {
    html .offer__cards {
        display: flex;
        flex-wrap: wrap;
    }
    .card--white{
        margin-bottom: 10px;
    }
    .header__nav-list{
        width: 40%;

    }
}
@media (max-width:1150px) {
    .card:not(:last-child){
        margin: 0 8px 8px 0;
    }
    .trend__cards {
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;}
}
@media (max-width:1050px) {
    .hero__bunner-content{
        display: none;
    }
    .hero__buy-btn{
        position: relative;
    }
    .hero__content-block {
        flex-direction: column;
    align-items: center;
    align-content: center;
    }
    .hero__text-block {
        justify-content: space-evenly;
    align-items: center;
    transform: scale(110%);
    }
    .hero__paragraph{
        text-align: center;
    }
    .hero__heading{
        text-align: center;
        font-size: 64px;
        
    } 
    .hero__swiper{
        height: 350px;
    }
    .hero__content-block{
        padding: 10%;
    margin: -10%;
    }
    .blog   {
        display: none;
    }
    .feature__card-list{
        flex-wrap: wrap;
    }
    .trend__cards {
        
        flex-wrap: wrap;
    }



    /*  */


.header{
    
padding: 10px 15px;
justify-content: space-between;



}
    .header__burger{
        display: block;
        
      }
      .header__nav-list{
          display: none;
      }
      .header-search{
          display: none;
      }
      .header__logo{
          transform: scale(120%);
          
          margin-left: 85px;
          
          
      }
      .hero__text-block {
          margin-bottom: 5%;
      }
      .hero__buy-btn{
          bottom: 0;
      }
      .hero__swiper{
          padding-bottom: 15px;
          min-height: 508px;
      }
      .card__heading{
        font-weight: 800;
        font-size: 32px;
      }
      .up-img + .card__heading{
          transform: scale(105%) translateY(-10px);
      }
      html .offer__cards {
       
        justify-content: center;
      }
      .card:not(:last-child){
          margin-bottom: 15px;
      }
      .cards-grid{
        justify-content: center;

      }
      .products__card:not(:nth-child(2n)){
          margin-right: 15px;
      }

}
@media (max-width:830px) {


    
    
    .special-info__download-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
   
    .card:not(:last-child){
        margin-bottom: 15px;
    }
    .card:not(:nth-child(-n+3)){
        display: none;
    }
    .products__card:not(:nth-child(-n+2)){
        display: none;
    }
}
@media (max-width:630px) {
    /* продолжить адаптивность до 330px ( отметки на 520 и 450 и 370) */
    .footer__menu-list{
        display:none;
    }
    .special-info {
       
        flex-direction: column;
    }
    .special-info__download-block {
        
        justify-content: flex-start;
        flex-direction: row;
    }
}
@media (max-width:630px) {
    .header__logo{
        margin: 0;
        margin-left: 30px;
    }
}
@media (max-width:500px) {
    .header__user-list{
       display: none;
    }
    .header__logo{
        margin: 0;
        
    }
    .special-info__download-block {
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }
    .hero__heading {
        text-align: center;
        font-size: 32px;
    }
    .hero__paragraph {
       
        display: none;}
        .hero__text-block{
            justify-content: flex-start;
            height:min-content;
            max-height: 200px;
            min-height: 60px;
        }
        .hero__content-block{
            justify-content: space-evenly;
        }
        .hero__buy-btn      {
            width: 80%;
        }
}