
:root{
  --main-back-color:#FECEDE;
  --main-heading-color: #151875;
  --main-second-color:#72718F;
  --pink-red: #FD0054;
  --back-focus: #ffffff1f;
}




*{
  margin: 0;
}

.main{
  overflow: hidden;
}

body{
  width: 100%;
  background-color: #fefefe;
  
  }

section{
  margin-bottom: 50px;
}
/*  */
/*  */
.main__hero-block{
  margin-bottom: 50px;
}
/*  */
.header{
  background-color: #000;
  display: flex;
  max-height: 80px;
  height: 1%;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 5px;
}
ul{
  text-decoration: none;
  direction: none;
  list-style: none;
}
.logo{
  padding: 8px;
  background-image: url(../sourse/logoG.svg) ;
  background-repeat: no-repeat;
  width: 180px;
  height: 44px;
  background-position: center;

}
.header__logo{
width: 180px;
height: 44px;
}
.header__nav-list{
  display: flex;
  color: #fff;
  width: 371px;
}

.header__nav-item{
  padding: 1px 5px;
}

.header__nav-item:not(:last-child){
  margin-right: 25px;
 
}
.header-search{
  background-color: #fff;
  border-radius: 50px;
  width: 245px;
  height: 35px;
  border: #fff 1px solid;
}
.header-search::placeholder{
  color: #000;
}
.header__user-item{
  transition: all ease 0.1s;
  width: 30px;
  height: 30px;
}
.header__user-item:first-child{
  width: 35px;
  height: 35px;
}
.header__user-item svg path, .header__user-item svg rect{
  fill: #ffffff;
  transition: all ease 0.1s;

}


.social__profile{
  transition: all ease 0.1s;
  width: 30px;
  height: 30px;
}


.social__profile svg path, .social__profile svg rect{
  fill: #ffffff;
  transition: all ease 0.1s;

}

.header__user-item:not(:last-child){
  margin-right: 10px;
}
.header__user-list{
  display: flex;
}

.header__burger{
  display: none;
}
.burger__line{
  width: 30px;
  height: 5px;
  border-radius: 1px;
  background-color: #fff;

}
.burger__line:not(:last-child){
  margin-bottom: 4px;
}






.hero__swiper{
  /* width: 100%; */
  height: 593px;
  
  background-color: var(--main-back-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 79px 8%;
 

}
.hero__content-block{
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  background: no-repeat url(../sourse/circle2.svg);
  background-position: right 5% top 50%;
  position: relative;
 
  padding-right: 10%;
  margin-right: -10%;
  
}
.hero__text-block{
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.hero__buy-btn{
  
  position: absolute;
  display: flex;
  left: 0;
  bottom: 10px;
  height: 88px;
width: 395px;
background: linear-gradient(180deg, #EC368D 0%, #D72828 100%);
border: rgb(255, 255, 255) 2px solid;
color: #fff;
transition: all ease 0.1s;

border-radius: 20px;
font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
    justify-content: center;
  


}
.hero__buy-btn p {

  height: 30px;
  left: 50%;
  transform: translateY(2px);
}



.hero__heading{
  display: inline-block;
  max-width: 320px;

font-family: Montserrat;
font-size: 48px;
font-weight: 700;
line-height: 59px;
letter-spacing: 0em;
text-align: left;

}
.hero__bunner-content{
  display: flex;
  flex-direction: column;
    justify-content: space-evenly;

    align-content: center;
    position: relative;
    align-items: flex-end;
    
    
}
.hero__main-img{
  max-width: 770px;
  max-height: 650px;
  margin: 0 auto;
  margin-left: 15px;
  transform:translateX(85px);
 
 
}
.hero__sale-ico{
  position: absolute;
  top: 0;
  right: 0;
}
.hero__paragraph{
  display: inline-block;
  max-width: 500px;
  min-width: 250px;
  font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
color:  #727272;


}
.hero__coast{
  font-family: Montserrat;
font-size: 36px;
font-weight: 600;
line-height: 44px;
letter-spacing: 0em;
text-align: left;

}

/*  
*/
.small-heading{
  font-family: 'Josefin Sans', sans-serif;
font-size: 42px;
font-weight: 700;
line-height: 51px;
letter-spacing: 0em;
text-align: left;
color: #1A0B5B;
-webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: black;
text-align: center;
margin-bottom: 80px;


}
/*  */
.feature__card-list{
  padding: 0;
  
  display: flex;
  justify-content: space-around;
}

/*  ------- */
.frame  {
  padding: 0 21% ;
  
}
/*  */
.card{
  width: 318px;
  height: 320px;
  border-radius: 45px;
  background: #FECEDE;
  

}
 .card--white {
  border-radius: 5px;
  background-color: #fff;
  max-width: 270px;
  max-width: 320px;
  margin-right: 0;
  box-shadow: 0 0 30px 1px #91919111;
  transition: all ease 0.2s;
}
html .offer__cards{
  display: flex;
  flex-wrap: nowrap;
}
.card:not(:last-child){
  margin-right: 30px;
}
.products__feature{
  margin-bottom: 140px;
}
.products__cards{
  
}

.cards-grid{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
 
  justify-content: space-around;
}
.products__card:nth-child(-n+3){
  margin-bottom: 40px;
}
.products__card:nth-child(3n){
  margin-right: 0;
}
/*  */
.blog__list{
  display: flex;
  padding: 0;
  justify-content: space-between;
}
.blog__item{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding: 0 15px 20px 15px;
  max-height: 500px;
  min-height: 400px;
}
.blog__content-part{
  height: 43%;
  width: 100%;
  display: flex;
 
  flex-direction: column;
  justify-content: space-around;
}
.blog__data-info{
  display: flex;
}
.blog__data-info > *{
  padding-left: 20px;
}
.blog__autor{
  margin-right: 30px;
}
.blog__data-info *, .blog__blog-name, .blog__read-more{
  color: var(--main-heading-color);
  font-family: 'Josefin Sans', sans-serif;
}
.blog__blog-descr{
  color:var(--main-second-color);
  font-family: 'Josefin Sans', sans-serif;
}
.blog__autor{
  background: no-repeat url(../sourse/autor-pen.svg);
  background-position: left 0 top 35%;
}
.blog__date{
  background: no-repeat url(../sourse/calendar.svg);
  background-position: left 0 top 35%;
}
.blog{
  margin-bottom: 90px;
}
/*  */
.footer{
  background-color: #000;
  padding-top: 110px ;
  padding-bottom: 50px ;
}
.footer__main-content{
  justify-content: space-evenly;
  display:flex
}
.footer__colum{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
  margin-right: 20px;
  
}
.footer__colum:first-child{
  flex: 2.5;
}
.footer__colum:not(:first-child){
  flex: 1;
}
.footer__menu-links{
  transition: all ease  0.1s;

  padding: 0;
}
.footer__menu-link{
  margin-bottom: 5px;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}
.footer__colum-heading{
font-size: 16px;
line-height: 20px;
font-family: 'Montserrat', sans-serif;
margin-bottom: 20px;
}
ul{
  padding: 0;
}
.footer__paragraph{
  max-width: 370px;
  color:#fff;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
font-size: 12px;
line-height: 16px;
}
.email-input{
  width: 273px;
height: 38px;
background-color: transparent;
border: 2px solid var(--main-second-color);
border-radius: 10px;
color: var(--main-second-color);
padding-left: 15px;
margin-right: 10px;
}
.footer__colum:first-child *:not(:last-child){
  margin-bottom: 20px;
  margin-bottom: 20px;
}
.subscribe{
  width: 129px;
height: 44px;
background: transparent;
border: 2px solid var(--pink-red);
border-radius: 10px;
font-weight: 700;
  font-family: 'Montserrat', sans-serif;
font-size: 12px;
line-height: 12px;
color: #fff;

}
.footer__social-media{
  display: flex;
  align-content: center;
    align-items: center;
}
.social__profile{
  margin-right: 8px;
}
.special-info{
  display: flex;
  justify-content: space-between;
}
.footer__download-heading{
  color: #fff;
  margin-right: 25px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
font-size: 12px;
line-height: 12px;
color: #fff;
}
.special-info__download-block{
  display: flex;
  align-items: center;
    justify-content: space-between;
}
.download{
  margin-right: 10px;
}
/* Card */
.card{
  display: flex;
  flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px 15px;
    position: relative;
    min-width: 300px;
    max-width: 330px;

}
.card__logo{
  position: absolute;
  top: -15%;
  
  left: auto;
  transition: transform cubic-bezier(0.275, 0.470, 1.000, 0.455) 0.3s;
  
  
}
.card__logo--product{
  top: -5%;
  min-width: 140px;
  font-family: 'Poppins', sans-serif;

  max-width: 300px;
  max-height: 265px;
}
.card__heading{
  font-style: normal;

font-family: 'Josefin Sans', sans-serif;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
transition: all ease 0.2s;
}
.card__offer-name{
  color: #151875;
  margin-bottom: 15px;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;

}
.card__price{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;


color: #151875;
}
.card--white{
  padding: 10px 25px 25px 15px;
  max-width: 265px;
}
.card__description-offer{
  font-family: 'Josefin Sans', sans-serif;

  text-align: center;
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;

text-align: center;

color: rgba(26, 11, 91, 0.3);

}

.card--white:nth-child(1){
  background: url(../sourse/deliv.png)  no-repeat ;

}
.card--white:nth-child(2){
  background: url(../sourse/cashback\ 1.png) no-repeat ;

}
.card--white:nth-child(3){
  background: url(../sourse/premium-quality\ 1.png) no-repeat ;

}
.card--white:nth-child(4){
  background : url(../sourse/24-hours-support\ 1.png)  no-repeat ;

}
 html .card--white:nth-child(1n){

  background-position: top 25% center;
}
 .blog__item:nth-child(1){
  background:url(../sourse/blog1.png) no-repeat  ;
}
 .blog__item:nth-child(2){
  background: url(../sourse/blog2.png) no-repeat ;}
 .blog__item:nth-child(3){
  background:url(../sourse/blog3.png) no-repeat ;}
  .blog__item{
    background-position: top;
    width: 100%;
    max-height: 49%;
  }
  .blog__content-part{
    max-height: 35%;
  }
  html body  .blog__item:nth-child(1n){
    background-position: top center;
  }



















@media (max-width:1750px) {
  .frame  {
    padding: 0 12% ;

  }
  .offer__card{
    max-width: 50px;
    padding: 10px 5px 15px 5px;
  }
  
}


/*  */
/*  */.header__nav-item:hover{
  color: var(--pink-red);
  transition: color ease 0.3s;
}
.card--pink:hover {
background-color: #72718F;
transition: background-color cubic-bezier(0.275, 0.470, 1.000, 0.455) 0.2s;

}
.up-img{
  transform: translateY(-50px);
  transition: transform cubic-bezier(0.275, 0.470, 1.000, 0.455) 0.2s; 
}
.up-img + .card__heading {
  transform: translateY(-20px);
  font-weight: 800;
  font-size: 32px;
  transition: all ease 0.2s;
}
.card--white:hover{

  box-shadow: 0 5px 35px 2px #9191913e;
  transform: translateY(-10px) scale(110%);
  transition: transform cubic-bezier(0.275, 0.470, 1.000, 0.455) 0.3s ,
  scale cubic-bezier(0.275, 0.470, 1.000, 0.455) 0.2s,
  box-shadow ease 0.2s;  

}
.hero__buy-btn:hover {
  background: linear-gradient(180deg, #D72828  0%,  #EC368D 100%);
  transform: scale(110%);
  transition: all ease 0.2s;

 
  
}
.header__nav-item:hover{
  cursor: pointer;
}
.footer__menu-link:hover{
color: var(--pink-red);
cursor: pointer;
transition: all ease  0.1s;
}
.header__user-item:hover, .social__profile:hover{
  transform: scale(120%);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}



.social__profile:hover svg path, .social__profile:hover svg rect, .header__user-item:hover svg path, .header__user-item:hover svg rect{
  fill: var(--pink-red);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;

}
.download:hover img{
  transform: scale(110%) ;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
.header-search:hover, .email-input:hover{
 outline: var(--pink-red) solid 2px;
 transition: all ease 0.1s;
}
/*  */
.subscribe:hover{
  background-color: var(--pink-red);
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
}
/*  */
 :focus{
   transform: scale(105%);
  outline: var(--pink-red) solid 2px;
  transition: all ease 0.1s;
 }
 .logo:focus{
   
   outline: none;
   transform: scale(110%);
   background-color: var(--back-focus);
   border-radius: 50px;
 }
 .header__nav-item:focus{
   
  outline: none;
  transform: scale(110%) translateY(5px);
  background-color: var(--back-focus);
  border-radius: 50px;
  transition:  padding ease 0.2s, transform cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s ;
 }
 .header__user-item:focus  {
  outline: none;
  fill: var(--pink-red);
  
  transform: scale(110%) translateY(5px);
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;

 }
 .header__user-item:focus path, .header__user-item:focus rect {
  fill: var(--pink-red);
 }
 .hero__buy-btn:focus{
   transform: scale(120%);
   transition: all ease 0.1s;
   
   
 }
 .card--pink:focus{ 
   outline: none;
   background-color: var(--main-second-color);
   transform: scale(105%);
   box-shadow: 0 0 10px 4px #7272728f;
   transition: background-color cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s ,
   transform  ease 0.2s,
   box-shadow ease 0.3s
   ;
 }
 a:focus{
   outline: none;
   color: var(--pink-red);
 }
 .footer__menu-link:focus{
  outline: none;
  color: var(--pink-red);

 }
 .social__profile:focus{
  outline: none;
  fill: var(--pink-red);
  
  transform: scale(110%) translateY(-5px);
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;

 }
 .social__profile:focus path, .social__profile:focus rect {
  fill: var(--pink-red);
 }
 /*  */
 a:active{
   outline: none;
   transform: none;
   color: var(--main-heading-color);
   transform: scale(180%) ;
   
 }
 .logo:active{
   transform: none;
   box-shadow: 0 0 2px 1px #7272728f inset;


 }

 body .header__user-item:active{
  fill: var(--main-heading-color);
  transform: scale(150%);


}

 body .header__user-item:active path, body .header__user-item:active rect{
  fill: var(--main-heading-color);
  transition: all ease 0.1s;

 }
 .hero__buy-btn:active{
   transform: scale(120%) translateY(5px);
   box-shadow: 0 0 5px 3px var(--pink-red)  inset;
   transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.05s;

 }
 .card:active{
   box-shadow: 0 0 75px 15px var(--main-back-color)  inset;
   transform:rotate(5deg) scale(110%) translateY(-10px);
   transition: rotate ease 0.01s,
   scale cubic-bezier(0.165, 0.84, 0.44, 1) 0.05s ;
    
 

 }
 .footer__menu-link:active, .header__nav-item:active{
   color: var(--main-heading-color);
 }
  .subscribe:active{
    transform: scale(110%) translateY(1px);
  }

